---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { format } from "date-fns";
import EmojiLabel from "../components/EmojiLabel.astro";
import Twemoji from "../components/Twemoji.astro";
import LinkButton from "../components/LinkButton.astro";
import { Icon } from "astro-icon/components";

type Props = CollectionEntry<"blog">["data"] & {
  slug: CollectionEntry<"blog">["slug"];
};

const { title, pubDate, updatedDate, heroImage, slug } = Astro.props;
---

<html lang="ja">
  <body>
    <article
      class="prose prose-lg bg-slate-100 my-4 max-w-full sm:p-6 sm:rounded-md"
    >
      <div class="bg-white p-6 rounded-md">
        <a
          class="w-fit flex items-center gap-2 mb-4 no-underline text-slate-700 hover:text-slate-500"
          href="/"
          ><Twemoji class="m-0 w-6 h-6" emoji="ðŸ‘ˆ" /><p class="m-0">
            Back To HOME
          </p></a
        >
        <div class="title">
          <div class="date"></div>
          <h1>{title}</h1>
          <div
            class="flex justify-center items-center mx-auto p-10 bg-slate-200"
          >
            <Twemoji class="w-20 h-20" emoji={heroImage} />
          </div>
          <div class="flex justify-center gap-2">
            <div class="flex items-center gap-2">
              <Twemoji class="m-0 w-4 h-4" emoji="âœï¸" /><p class="my-1">
                {format(pubDate, "yyyy/MM/dd")}
              </p>
            </div>
            {
              updatedDate && (
                <div class="flex items-center gap-2">
                  <>
                    <Twemoji class="m-0 w-4 h-4" emoji="ðŸ”„" />
                    <p class="my-1">{format(pubDate, "yyyy/MM/dd")}</p>
                  </>
                </div>
              )
            }
          </div>
          <ul class="flex justify-center gap-6 m-0 p-0">
            <li class="m-0 p-0 list-none">
              <a
                class="block"
                href={`http://twitter.com/share?url=${Astro.url}/blog/${slug}&text=${title}`}
                target="_blank"
                rel="noreferrer"
              >
                <Icon name="x-logo" size="24" />
              </a>
            </li>
            <li class="m-0 p-0 list-none">
              <a
                href="https://b.hatena.ne.jp/entry/"
                class="w-6 h-6"
                data-hatena-bookmark-layout="touch"
                title="ã“ã®ã‚¨ãƒ³ãƒˆãƒªãƒ¼ã‚’ã¯ã¦ãªãƒ–ãƒƒã‚¯ãƒžãƒ¼ã‚¯ã«è¿½åŠ "
                ><img
                  src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png"
                  alt="ã“ã®ã‚¨ãƒ³ãƒˆãƒªãƒ¼ã‚’ã¯ã¦ãªãƒ–ãƒƒã‚¯ãƒžãƒ¼ã‚¯ã«è¿½åŠ "
                  width="24"
                  height="24"
                  style="border: none;"
                  class="m-0"
                /></a
              ><script
                type="text/javascript"
                src="https://b.st-hatena.com/js/bookmark_button.js"
                charset="utf-8"
                async="async"></script>
            </li>
          </ul>
          <hr class="my-4" />
        </div>
        <slot />
        <ul class="flex justify-center gap-6 m-0 p-0">
          <li class="m-0 p-0 list-none">
            <a
              class="block"
              href={`http://twitter.com/share?url=${Astro.url}/blog/${slug}&text=${title}`}
              target="_blank"
              rel="noreferrer"
            >
              <Icon name="x-logo" size="24" />
            </a>
          </li>
          <li class="m-0 p-0 list-none">
            <a
              href="https://b.hatena.ne.jp/entry/"
              class="w-6 h-6"
              data-hatena-bookmark-layout="touch"
              title="ã“ã®ã‚¨ãƒ³ãƒˆãƒªãƒ¼ã‚’ã¯ã¦ãªãƒ–ãƒƒã‚¯ãƒžãƒ¼ã‚¯ã«è¿½åŠ "
              ><img
                src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png"
                alt="ã“ã®ã‚¨ãƒ³ãƒˆãƒªãƒ¼ã‚’ã¯ã¦ãªãƒ–ãƒƒã‚¯ãƒžãƒ¼ã‚¯ã«è¿½åŠ "
                width="24"
                height="24"
                style="border: none;"
                class="m-0"
              /></a
            ><script
              type="text/javascript"
              src="https://b.st-hatena.com/js/bookmark_button.js"
              charset="utf-8"
              async="async"></script>
          </li>
        </ul>
      </div>
    </article>
  </body>
</html>
